
      <%= product.title %>
  
   	
    
      <%= form_for order_item, remote: true do |f| %>
<div class="cartdiv">
<div class="cartdiva"> 
        Unit Price: <%= number_to_currency(order_item.unit_price, :unit => '€') %>
</div>  

<div class="cartdiva"> 
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
             <%= f.submit "Update Quantity", class: "formbutton" %>
</div>
          
<div class="cartdiva">           
             <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>

</div>
<div class="cartdiva">           
        Total Price: <%= number_to_currency(order_item.total_price, :unit => '€') %>
        <p>Ord No. <%= @orders.last.id %>  </p>
        <p>Status: <%= @orders.last.title %>  </p>
        
</div>
</div>
      <% end %>
   