



<div class="featurewraper">
  
<h2>
<% if !@order_item.nil? && @order_item.errors.any? %>
  
    <% @order_item.errors.full_messages.each do |msg| %>
     <%= msg %>
    <% end %>
    
  </div>
<% end %>
<% if @order_items.size == 0 %>
 <div class="cartdiv"> 
  <li><%= notice %></li>
    There are no items in your shopping cart.  Please <a href="/products" >Go Back</a> and add some items to your cart.
  </div>
<% else %>

  
  <% @order_items.each do |order_item| %>
    <%= render 'cart/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
   
  <% end %>
  
  

<% end %>

</h2>
  <div class="cartdiv"> 
<h2><%= render 'layouts/total' %></h2>
</div>
<div class="cartdiva"> 
<% if @order_items.size == 0 %>
 
    <p>You can only checkout when you have orders in your cart</p>
  
<% else %>

<h3>Current Order Status <%= @orders.last.order_status_id %>  </h3>
<h2>Checkout With PayPal</h2>
<p>You Must follow links from PayPay back to this site to confirm order</p>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sales@petrol.ie">
<input type="hidden" name="item_name" value="Charma Order Number <%= current_order.id %> user: <%= current_user.id %>">
<input type="hidden" name="item_number" value="3">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="amount" value="<%=current_order.subtotal %>">
<input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<input type="hidden" name="return" value="https://rails-tutorial-liamme.c9.io/" >
<input type="hidden" name="notify_url" value="https://rails-tutorial-liamme.c9.io/paypal">
<input type="hidden" name="currency_code" value="EUR">
</form> 
<h2>Or</h2>
<h3><%= link_to "Empty Cart","/cart/clear" %></h3>

<% end %>
</div>
</div>

