<div class="featurewraper">
  
  <div class="forml">

<h2>Hi <%= current_user.name %> this is how we see you:</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

 <p>Firstname: <%= current_user.name %><br>
 Surname: <%= current_user.surname %><br>
 Address: <%= current_user.address1 %><br>
 <%= current_user.address2 %><br>
 <%= current_user.address3 %><br>
 <%= current_user.address4 %></p>


	
</div>



<div class="forml">

  <div class="field">
   
    
    <%= f.email_field :email,placeholder: 'Email', autofocus: true, :class => "fieldbox"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
       <%= f.password_field :password,placeholder: 'Password leave blank if you dont want to change it', :class => "fieldbox", autocomplete: "off" %>
  </div>

  <div class="field">
       <%= f.password_field :password_confirmation,placeholder: 'Password Confirmation', :class => "fieldbox", autocomplete: "off" %>
  </div>

  
  
   <div class="field">
        <%= f.text_field :name,placeholder: 'First Name', :class => "fieldbox" %>
  </div>
  
  <div class="field">
        <%= f.text_field :surname,placeholder: 'Surname', :class => "fieldbox" %>
  </div>
  
  
  <div class="field">
        <%= f.text_field :address1,placeholder: 'Address 1', :class => "fieldbox" %>
  </div>
  
  <div class="field">
   
    <%= f.text_field :address2,placeholder: 'Address 2', :class => "fieldbox" %>
  </div>
  
  <div class="field">
         <%= f.text_field :address3,placeholder: 'Address 3', :class => "fieldbox" %>
  </div>
  
  <div class="field">
        <%= f.text_field :address4, placeholder: 'Address 4', :class => "fieldbox" %>
  </div>
  
  
  <div class="field">
    ** Required to authorise any changes **<br>
    <%= f.password_field :current_password,placeholder: 'Required to confirm your changes', :class => "fieldbox", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "formbutton" %>
  </div>
<% end %>

</div>

<div class="featurewraper">

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?"}, method: :delete, :class => "formbutton" %></p>

<%= link_to "Back", :back %>

</div>

</div>