

<!-- start of colections promo -->
<div class="featurewraper">
		<div class="featureda"><h2>2016 COLLECTION</h2></div>
		<div class="featuredb"><h2>SPECIALS</h2></div>
</div>

<!-- start of colections promo -->
		
	
	
		<!-- start of company promo text -->
		<div class="featurewraper">
			<h2><%= render 'layouts/cart_text' %></h2>
			<h2>Welcome to Charma Jewellery Online now</h2>

			<p><%= @details.last.welcome %></p>
		</div>
		<!-- end of company promo text -->
		
		
		<!-- end of features and feedback -->
			
		
		<div class="featurewraper">
		<h2>Featured Products</h2>
				<div class="featuredc">
					<h2><%= @products.last.title %></h2>
					<img class="featureimg" src="/assets/<%= @products.last.image_name %>"  alt="an image"/>
					<p>
					<%= number_to_currency(@products.last.price, :unit => '€') %>
					</p>
				
					<a href="products/<%=@products.last.id%>"><button class="formbutton" type="button">Details!</button></a>
						
					
				</div>
		
		
		
				<div class="featuredc">
					<h2>Some Product</h2>
					<img class="featureimg" src="/assets/DSC_0108.JPG"  alt="an image"/>
					<p>€99
					</p>
					<button class="formbutton" type="button">Details!</button>
						
				</div>
		
				
		
				<div class="featuredc">
					<h2>Some Product</h2>
					<img class="featureimg" src="/assets/DSC_0108.JPG"  alt="an image"/>
					<p>€99
					</p>
					<button class="formbutton" type="button">Details!</button>
	
		</div>
		
		
		<div class="featurewraper">
		<h2>Customer reviews</h2>
				<div class="featuredc">
					<h2>Yvonne, Navan</h2>
					<p>Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the 
					embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
					</p>
					
				</div>
		
		
		
				<div class="featuredc">
					<h2>Chloe, Perth</h2>
					<p>Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the 
					embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
					</p>
					
				</div>
		<div class="featuredc">
			<h2>News Feed</h2>
			<p><%= @details.last.about %></p>
		
		
		</div>
		
		</div>
		
		
		




	</div>

		



			<!-- end of features and feedback -->
		
		