
<div class="forml">

<h2>Welcome back please Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, :class => "fieldbox",placeholder: 'Enter E-Mail address' %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, :class => "fieldbox", autocomplete: "off",placeholder: 'Enter your passeword' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "formbutton" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</div>

<div class="formr">

<h2>Since your last visit..</h2>

</div>