<div class="featurewraper">
			<h2>Customer reviews</h2>
				<div class="featuredc">
					<h2>Digital</h2>
					<p>Tel: 0000000000</p>
					<p>Fax: 0000000000</p>
					<p>E-mail: 0000000000</p>
					<p>Text: 0000000000</p>
					
					
   
					
				</div>
		
		
		
				<div class="featuredc">
					<h2>Traditional</h2>
					<p>Our Address</p>
					<p>Our Street</p>
					<p>Our Town</p>
					<p>Our Country</p>
					
				</div>
		
		</div>
		
		
		


<!-- Put form with validation here -->

		<div class="featurewraper">
		<h2>Online Contact</h2>
		<form>
		<div class="formdiv">
		<input class="niceinput" type="text" name="name" class="name" placeholder="Your Name" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" required />
		</div>
  
		<div class="formdiv">
		<input class="niceinput" type="email" name="mail" class="mail" placeholder="Your email address" pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$" required />
		</div>
		<div class="formdiv">
		<input class="niceinput" type="tel" name="phone" placeholder="Your number" pattern="^\+?(?:[0-9]??).{5,14}[0-9]$" required />
		</div>
		<div class="formdiv">
		<input class="niceinput" type="text" name="name" class="name" placeholder="Your Postal Address" pattern="[a-zA-Z\d\s\-\,\#\.\+]+" required />
		</div>
		<div class="formdivbig">
		<input class="niceinputbig" type="text" name="name" class="name" placeholder="Your comment" pattern="[a-zA-Z\d\s\-\,\#\.\+]+" required />
		</div>
		<!-- The next input implements autocomplete -->
		<div class="formdiv">
		<input list="browsers" class="niceinput" type="text" name="onechar" placeholder="Priority - None, Urgent etc." pattern="[ÆØÅæøåa-zA-Z]+" required />
		  <datalist id="browsers">
			<option value="High">
			<option value="Low">
			<option value="Urgent">
			<option value="Critical">
			<option value="Crucial">
			<option value="Vital">
			<option value="VeryImportant">
			<option value="Virtuallylifethreathening">
		</datalist>
		</div>
		<!-- end of autocomplete -->
		<div class="formdiv">
		<input class="niceinput" type="text" name="onechar" placeholder="Enter four random numbers" pattern="^[0-9]{4}" required />
		</div>
		<div class="formdiv">
		<input class="formbutton" type="submit" />
		</div>
		</form>
		
		</div>
		

		<!-- End form with validation here -->