body
{
margin: 0;
padding: 0;
background-color:#F4F4F4;
}



.navwraper
{
background:#f0f0f5;
overflow : hidden; 
width : 100%;
text-align : center;
list-style: none;
margin-left : auto; 
margin-right : auto; 
display: block;
padding-left: 0;
margin: 0 auto;
} 




.nav { 
width: 20%;
float: left;
color : #555; 
text-decoration : none; 
font-size : 28px; 
font-family : Century; 
font-weight : normal; 
text-align : center; 
font-style : normal; 
margin-left : auto; 
margin-right : auto; 
line-height: 40px;
height:40px;
}


.searchdiv
{
background:#ffffff;
min-height:80px;
width : 90%;
text-align:center;
overflow : hidden; 
margin-top:3px;
margin-bottom:3px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 

.nav:hover {
background-color:#5D5D5D;
color : #ffffff;
width: 20%;
height:40px;
}




.wraper
{

overflow : hidden; 
width : 80%;
margin-left : auto; 
margin-right : auto;
margin-top:20px;
box-shadow: 1px 10px 5px #666666;
} 

.wraper p{ 
width : 90%; 
color : #939393; 
text-decoration : none; 
font-size : 18px; 
font-family : arial; 
font-weight : bold; 
text-align : justify; 
font-style : normal; 
margin-left : auto; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 12px; 
line-height:29px;
} 



.header
{
float:left;
background-color:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
box-shadow: 10px 10px 5px #666666;
margin-bottom:20px;
} 


.contacts { 
width : 25%;
float:left;
overflow : hidden; 
margin-top:15px;
text-align:center;
} 



.logoimg a{ 
width: 60%;
margin-left : auto; 
margin-right : auto;
text-decoration:none;
}



.logo { 
width: 50%;
text-align:center;
float:left;
overflow: hidden; 

}

.logo p{ 
width: 100%;
font-size:26px;
text-align:center;
color:#ff0000;
overflow: hidden; 

}

.socialimg { 
width: 10%;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
text-decoration:none;
background:#ffffff;
font-size:0px;
}

.socialimg a{ 
width: 10%;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
text-decoration:none;
}

.socialimg a hover{ 
text-decoration:none;
background:#ffffff;
}

#cartshow {
  width:50%;
  border:solid;
  border-color:#555;
  display:none;
  height:50px;
  position: relative;
  margin-top: 10px;
    margin-left:110px;
    border-radius:10px;
  	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  
}

.contactimg { 
width: 10%;
padding:5px;
float:none;
margin-top:35px;
}


.rotatimg { 
width: 100%;
margin-left : auto; 
margin-right : auto;

}

.social { 
width : 25%;
float:left;
text-align:center;
overflow : hidden; 
text-align:center;

} 

.rotator
{
float:left;
background-color:#666;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
margin-top:15px;
} 

.main
{
float:left;
background-color:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
} 

.mainimg { 
width: 30%;
margin-left : auto; 
margin-right : auto;
float:left;
padding:10px;
}

.main p{ 
width : 95%; 
color : #555; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : justify; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 

.featurewraper
{
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
text-align:center;
margin-top:10px;

} 

.featurewraper p 
{
white-space: pre-line;  
}

.wraper h2{ 
width : 100%; 
color : #939393; 
text-decoration : none; 
font-size : 28px; 
font-family : arial; 
font-weight : bold; 
text-align : center; 
font-style : normal; 
margin-left : auto; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 12px; 
line-height:29px;
} 


.featurewraper
{
	background:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
text-align:center;
margin-top:10px;
} 


.featureda { 
background-image: url("/assets/jewel.jpg");
min-height:500px;
float: left;
width : 60%;
text-align:center;
overflow : hidden; 
margin-top:10px;
} 

.featuredb { 
background-image: url("/assets/model.jpg");
min-height:500px;
float:right;
width : 39%;
overflow : hidden; 
text-align:center;
margin-top:10px;
} 

.featureda h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 500px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 66px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
margin: 0 auto;
} 

.featuredb h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 500px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 66px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
margin: 0 auto;
} 


.featureda h2:hover{ 
background-color:rgba(0, 0, 0, 0.0);

} 

.featuredb h2:hover{ 
background-color:rgba(0, 0, 0, 0.0);

} 


.featuredc { 
background:#ffffff;
min-height:60px;
width : 30%;
text-align:center;
overflow : hidden; 
margin-top:30px;
margin-bottom:30px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 


.featuredc p{ 
width : 95%; 
color : #555; 
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 

.featureimg { 
width: 90%;
padding:5px;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
border-radius:50%;
}

.adminimg { 
width: 30%;
padding:5px;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
border-radius:50%;
}


.cartimg { 
width: 30%;
padding:5px;

}

.cartdiv
{
background:#ffffff;
min-height:140px;
width : 90%;
text-align:center;
overflow : hidden; 
margin-top:3px;
margin-bottom:3px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 

.cartdiva
{
background:#ffffff;
min-height:80px;
width : 20%;
text-align:center;
overflow : hidden; 
margin-top:3px;
margin-bottom:3px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 

.form-control {
  width: 60%;
  border-radius:8px;
  height:30px;
  text-align:center;
}


.login { 
width : 90%;
text-align:center;
overflow : hidden; 
text-align:center;
margin-left : auto; 
margin-right : auto;
display: inline-block;
padding: 15px;
margin-top: 60px;
border-style: solid;
    border-width: 1px;
border-color: #777;
box-shadow: 1px 10px 5px #666666;
border-radius : 8px;
} 

.footer
{
float:left;
background-color:#b3b3b3;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
margin-top:10px;
text-align:center;
} 

.footerdiv
{
background:#ffffff;
min-height:140px;
width : 24%;
text-align:center;
overflow : hidden; 
margin-top:3px;
margin-bottom:3px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 


.footerdiv p{ 
width : 100%; 
color : #555; 
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : bold; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 5px; 
margin-bottom : 2px; 
} 

.fixedwidth {
	width:100px;
	margin:0 auto;
}


/* The styles for the form fields and buttons */
.field {
     
   width : 100%;
   color : #555;
}

.fieldbox {
  text-align:center;
   background-color:#e5e5ff;  
   width : 60%;
   border-radius:8px;
   color : #555;
   min-height: 30px;
   margin-bottom:10px;
   box-shadow: 1px 2px 5px #666666;
}


.formbutton {
  width:50%;
  height:30px;
  color: #555;
  background: #ffffff;
  font-weight: bold;
  border: px solid #777;
  border-radius:5px;
}
 
.formbutton:hover {
  color: #FFF;
  background: #9494b8;
}

/* The styles for the left and right form details  */


/* css for validation form */

:focus {outline: none;}

form {
  margin: 20px;
}



label, input[type="submit"] {
  width: 110px;
  display: inline-block;
}

.formdiv {
  height: 40px;
  border-radius:8px;
}

.niceinput {
  width: 60%;
  border-radius:8px;
  height:30px;
  text-align:center;
}

.formdivbig {
  height: 140px;
  border-radius:8px;
}

.niceinputbig {
  width: 60%;
  border-radius:8px;
  height:130px;
  text-align:center;
}

input {
  width: 200px;
}

.niceinput:focus:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}

.niceinput:focus:valid {
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

/*end of validation css */





.forml { 
float: left;
width : 50%;
text-align:center;
overflow : hidden; 
margin-left : auto; 
margin-right : auto;
margin-top: 60px;

} 


.formr { 
float: left;
width : 50%;
text-align:center;
overflow : hidden; 
margin-left : auto; 
margin-right : auto;
margin-top: 60px;
} 





#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

#specialBox {
	display: none;
	position: fixed;
    top:20%;
    left: 37%;
	z-index: 3;
	width: 25%; 
	min-height: 300px;
	background: #FFF;
	border-radius:10px;
	color: #000;
	 font-size: 0;
}

.popuphead{
  width:100%;
  height:30px;
  background:#555;
  color:#555;
  margin-bottom: 10px;
}

.popuphead p{
  width:100%;
  height:30px;
  color:#fff;
  margin: 0 auto;
  line-height:30px;
  font-size:16px;
}


.popupl { 
float: left;
width : 100%;
text-align:center;
overflow : hidden; 
margin-left : auto; 
margin-right : auto;
margin-bottom:10px;

} 


.popupr { 
float: left;
width : 50%;
text-align:center;
overflow : hidden; 
margin-left : auto; 
margin-right : auto;
margin-top: 10px;
} 


/*Some CSS*/


.magnify {
  width: 200px;
  margin: 50px auto;
  position: relative;
}

/*Lets create the magnifying glass*/

.large {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 100%;
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 7px 7px rgba(0, 0, 0, 0.25),  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /*Lets load up the large image first*/
  background: url('/assets/ring.jpg') no-repeat;
  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/

.small { display: block; }


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}



/* slide down style for feedback */

#panel {
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
	border-radius:10px;
	display:none;
}

#flip {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
}

#panel ol {
width:100%;
font-size:20px;
text-align: centre;
list-style:none;
padding:5px;
}

#panel li {
width:100%;
font-size:16px;
text-align: centre;
list-style:none;
color:#939393;

}

#panel2 {
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
	border-radius:10px;
	display:none;
}

#flip2 {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
}


#panel3 {
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
	border-radius:10px;
	display:none;
}

#flip3 {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
}

#panel4 {
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
	border-radius:10px;
	display:none;
}

#flip4 {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 0px #c3c3c3;
}

/* slide down style for feedback end*/



@media screen and (max-width: 700px) {
  
.header
{
float:none;
background-color:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
box-shadow: 10px 10px 5px #666666;
margin-bottom:20px;
} 


.contacts { 
width : 100%;
position:fixed;
bottom:0;
overflow : hidden; 
margin-top:15px;
text-align:center;
background:#ffffff;
} 



.logoimg { 
width: 60%;
margin-left : auto; 
margin-right : auto;
}


.logo { 
width: 100%;
text-align:center;
float:none;
overflow: hidden; 
}

.social { 
width : 100%;
float:none;
text-align:center;
overflow : hidden; 
text-align:center;

} 

.socialimg { 
width: 10%;
padding:5px;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
}

.contactimg { 
width: 10%;
padding:0px;
float:center;
margin-top:5px;
}

.login { 
padding: 15px;
margin-top: 6px;
border-style: solid;
    border-width: 1px;
border-color: #777;
box-shadow: 1px 10px 5px #666666;
border-radius : 8px;
} 


.wraper
{

overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
margin-top:10px;

} 

.featuredc { 
background:#ffffff;
min-height:60px;
width : 100%;
text-align:center;
overflow : hidden; 
margin-top:5px;
margin-bottom:3px;

} 


.footerdiv
{
float:none;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
text-align:center;
} 

.featureda { 
background-image: url("/assets/jewel.jpg");
float: none;
min-height:50px;
width : 100%;
text-align:center;
overflow : hidden; 
margin-top:10px;
margin-top:20px;
} 

.featuredb { 
background-image: url("/assets/model.jpg");
float:none;
width : 100%;
overflow : hidden; 
text-align:center;
margin-top:10px;
min-height:50px;
} 


.featureda h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 50px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 36px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
} 

.featuredb h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 50px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 36px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
} 

#specialBox {
	display: none;
	position: fixed;
  top:20%;
  left: 5%;
	z-index: 3;
	width: 90%; 
	min-height: 300px;
	background: #FFF;
	border-radius:10px;
	color: #000;
	 font-size: 0;
}

}