.productwraper
{
overflow : hidden; 
width : 100%; 
margin-top : 10px; 
min-height: 70px;
z-index: -1;
margin-left : auto;
margin-right : auto; 
text-align:center;
} 

.one {
    float:left;
    width:30%;
}

.two {
    float:left;
    width:70%;
}

.productwraper h1 {
text-align:center;
font-family : arial; 
color:#555;
font-size:16px;

    
}

.productwraper p{ 
width : 95%; 
color : #555; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
white-space: pre-line;
} 


.prodexpo1 { 
overflow : hidden;
width : 30%; 
margin-top : 0px; 
min-height: 470px;
z-index: -1;
margin-left : auto;
float:left;
border-color: #555;
padding-left:2.25%;
  

} 

.prodimg{
max-width:80%; 
margin-left : auto; 
margin-right : auto;
border-top-right-radius: 50px;
}



.showimg{
max-width:90%; 
margin-left : auto; 
margin-right : auto;
}

.smallimg{
max-width:45%; 
margin-left : auto; 
margin-right : auto;
display:inline-block;
}

.featuredd { 
background:#ffffff;
min-height:60px;
width : 90%;
text-align:center;
overflow : hidden; 
margin-top:30px;
margin-bottom:30px;
display:inline-block;
 border: solid 1px #c3c3c3;
	border-radius:10px;
	border-radius:10px;
} 


.featuredd p{ 
width : 95%; 
color : #555; 
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
white-space: pre-line;
} 