<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
                  <%= f.label :"Customer Reviews" %><br>
                  <ol><li>Look Here</li></ol>
                    <input type="text" value="2" name="product[inage_3]" id="product_inage_3" />
                  </div>
                  <%= @product.inage_3 %>
                  <div class="actions">
                  <%= f.submit %>
                  </div>
                  <% end %>
  
             


<div id="flip"><p>See Customer Reviews...</p></div>
								<!-- start of dropdown panel -->
							<div id="panel">
							
							<!-- Start of apend script and div -->

									<script>
										$(document).ready(function(){
											$("#btn2").click(function(){
											$("li").append("<br><br> " + "Username: " +  $("#test").val());
											});
										});

										$(document).ready(function(){
											$("button").click(function(){
											$("#test").text($("#test").val()) ;
											});
										});

										$(document).ready(function(){
											$("#flip").click(function(){
											$("#panel").slideToggle("slow");
											});
										});
									</script>

									<!-- End of apend div and script -->

								
									<ol>
									<li>Customer Reviews of this item:</li>
								
									<!-- User input to change text -->
									<p><input class="niceinput" type="text" id="test" value="Js one"></p>
									<!-- User input to change text -->
									<button class="formbutton" id="btn2">Leave Review</button>







		
		
		
		
							</div>