

	<!-- Start of products each wrapper -->
		
				
					<div class="featuredc">
					<h2><%= product.title %></h2>
					<img class="prodimg" src="/assets/<%= product.image_name %>"  alt="an image"/>
					<p>
					<%= product.short_des %>
					</p>
					<p><button class="formbutton"><%= link_to 'Details...', product %></button></p>
					<%= form_for order_item, remote: true do |f| %>
      
          <p>Unit Price: <span style="color: green"><%= number_to_currency(product.price, :unit => '€') %></span></p>
                           
                            
                            
          <% if admin_signed_in? %>
          <p><%= link_to 'Edit', edit_product_path(product) %> </p>
          <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>     
          
          
          <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
             
         <% if user_signed_in? %>
         <%= f.submit "Add to the Cart", class: "formbutton" %>
         <% else %>
         <p><a href="cart/<%= product.id %>"><button class="formbutton" onmousedown="toggleOverlay()">Add to Cart</button></a></p>
         <% end %>
         </div>
         </div>
         <% end %>
          
				
	        </div>
		

		
    
  <!-- end of products each wrapper -->