<div class="featurewraper">
	  	<h2>Featured Products</h2>


<% if admin_signed_in? %>
  <h2><%= link_to 'Add New Product', new_product_path %></h2>
 
<% end %>



<% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>

</div>





 



