<div class="featurewraper">

<h2>You Searched Our Product Catalog For <%= @search_term %></h2>

<% if @products.length == 0  %>
<br />
<h2>No products were found to match your search</h2>
<% end %>


<% @products.each do |product| %>
  
              	<div class="featuredc">
					<h2><%= link_to product.title, product %></h2>
					<img class="featureimg" src="/assets/<%= product.image_name %>"  alt="an image"/>
					<p><%= product.short_des %></p>
					<p><%= product.price %>
					</p>
					<p><a href="products/<%=product.id%>"><button class="formbutton" type="button">Details!</button></a></p>
						
				</div>
  

<% end %>



</div>