<div class="featurewraper">
		<h2><%= @product.title %></h2>
	
			<div class="one">
				
					<div class="featuredd">
					<h2>About This Product</h2>
						
					<img class="showimg" src="/assets/<%= @product.image_name %>"  alt="an image"/>
				
				<p><%= number_to_currency(@product.price, :unit => '€') %></p>
				
				
				<%= render 'comment' %>
			
			<!-- From Here -->
			
			<%= form_for @order_item, remote: true do |f| %>
      
          <p>Unit Price: <span style="color: green"><%= number_to_currency(@product.price, :unit => '€') %></span></p>
                           
                            
                            
          <% if admin_signed_in? %>
          <p><%= link_to 'Edit', edit_product_path(@product) %> </p>
          <p><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>     
          
          
          <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: @product.id %>
             
         <% if user_signed_in? %>
         <%= f.submit "Add to the Cart", class: "formbutton" %>
         <% else %>
         <p><a href="cart/<%= @product.id %>"><button class="formbutton" onmousedown="toggleOverlay()">Add to Cart</button></a></p>
         <% end %>
         </div>
         </div>
         
         <% end %>
      
         <!-- to here -->
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		
 
						
		
				</div>
		
			</div>
			
			<div class="two">
			<div class="featuredd">
					<h2><%= @product.title %></h2>
					<p id="notice"><%= notice %></p>
					
					
					
					
					
					
					
					
					
					
					
					
					<p>
					<%= @product.long_des %>
					</p>
					<p>
					<%= @product.long_des %>
					<p><% if admin_signed_in? %>
  				<%= link_to 'Edit', edit_product_path(@product) %>
  
  				<% end %>
  				<%= link_to 'Back', products_path %></p>
					</p>
					
				</div>
			
			
			</div>
			
		
		
		
		
				
		
				
		


	
				
		
						
		

			
		</div>




