
<div class="featurewraper">
<%= form_for(@detail) do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h2>Welcome Message for home Page</h2>
    <%= f.text_area :welcome, :class => "niceinputbig" %>
  </div>
  
  <div class="field">
   <h2>Welcome Message for About Page</h2>
    <%= f.text_area :about, :class => "niceinputbig" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>