<p id="notice"><%= notice %></p>


<div class="featurewraper">
  
  <h2>Administrator Control Page </h2><h2>Website Texte</h2>
  <h2><%= notice %></h2>
  <h2><%= link_to 'New Detail', new_detail_path %></h2>
<div class="footerdiv">
	 <h2>Welcome Message</h2>
  <p>  
  <% @details.each do |detail| %>
      
     <p>What to do!</p>
        <%= link_to 'Show', detail %>
        <%= link_to 'Edit', edit_detail_path(detail) %>
        <%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  
  </p>			
			
				
				
</div>
			
			
<div class="footerdiv">
 <h2>News Feed</h2>
  <p>  
  <% @details.each do |detail| %>
      
<p>Change it!</p>     
        <%= link_to 'Show', detail %>
        <%= link_to 'Edit', edit_detail_path(detail) %>
        <%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  
  </p>			
 
</div>
		
		
<div class="footerdiv">
    <h2>Spare Section</h2>
<p>This section can be used for a different message on the website for future use</p>

</div>


<div class="footerdiv">
  <h2>Latest order</h2>
		<p>The last order number was <%= @orders.last.id %>  </p>
		
		<p><%= @orders.last.title %>  </p>
		<p>The last order total was <%= number_to_currency(@orders.last.subtotal, :unit => '€') %> </p>
		
		
		</div>

</div>


<div class="featurewraper">
  
  <h2>Product Editing Section</h2>
  <h2><%= notice %></h2>
  <h2><%= link_to 'Add New Product', new_product_path %></h2>

<% @products.each do |product| %>
 <div class="footerdiv">
	<p><img class="adminimg" src="/assets/<%= product.image_name %>"  alt="an image"/> </p>
 <p>Name <%= product.title %></p>
 <p>
   
   Price <%= number_to_currency(product.price, :unit => '€') %></p>
 
 <p><%= link_to 'Edit', edit_product_path(product) %> </p>
<p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  
</div>


    <% end %>
				
				

			
			

</div>




<div class="featurewraper">
  
  <h2>Order Viewing Section</h2>
  <h2><%= notice %></h2>

<% @orders.each do |order| %>
 <div class="footerdiv">
	 
	
  <p>Order Number: <%= order.id %></p>
  <p>Order Title: <%= order.title %></p>
  <p>Total Value: €<%= order.subtotal %></p>
  <p>User Ud: <%= order.user_id %></p>
 
  
 
 
  
</div>


    <% end %>
	
</div>


<div class="featurewraper">
  
  <h2>Order Items Viewing Section</h2>
  <h2><%= notice %></h2>


</div>

<div class="featurewraper">
  
  <h2>User Viewing Section</h2>
  <h2><%= notice %></h2>

<% @users.each do |user| %>
 <div class="footerdiv">
	 
  <p>User ID <%= user.id %></p>
  <p>First Name <%= user.name %></p>
  <p>Surname <%= user.surname %></p>
  <p>Unhappy? <%= button_to "Delete User", registration_path(resource_name), data: { confirm: "Are you sure?"}, method: :delete, :class => "formbutton" %></p>
 
  
  
</div>


    <% end %>
	
</div>

<div class="featurewraper">
  
  <h2>Order Viewing Section</h2>
  <h2><%= notice %></h2>

<% @users.each do |user| %>
 <div class="footerdiv">
	 
  <p>User ID <%= user.id %></p>
  <p>First Name <%= user.name %></p>
  <p>Surname <%= user.surname %></p>
  
 
  
  
</div>


    <% end %>
	
</div>

<div class="featurewraper">
  
  <h2>Order Item user ID</h2>
  <h2><%= notice %></h2>
<% @orderItem.each do |orderitem| %>
<div class="footerdiv">
<p> item number <%= orderitem.id %></p>
<p>Product ID <%= orderitem.product_id %></p>
<p>Order Number: <%= orderitem.order_id %></p>

  
  
 
 

 
</div>
 
   <% end %>
  
</div>

<div class="featurewraper">
  <h2>Admin Registration</h2>
  <h2>
	<% if admin_signed_in? %>
 
 		 	  Welcome <strong><%= current_admin.name %></strong>.
  			
  			<%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
  			<%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
  			<%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %> |
  		<%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
		
		<% end %>	
		</h2>
</div>  
	
</div>