



    <div class="popupl">
<div class="popuphead">
  <p>Welcome back please Log in</p>
</div>
   <p>         
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="popipl">
   
  
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, :class => "fieldbox",placeholder: 'Enter E-Mail address' %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, :class => "fieldbox", autocomplete: "off",placeholder: 'Enter your passeword' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "formbutton" %>
  </div>
  
  <p>
    <button class="formbutton" onmousedown="toggleOverlay()">Cancel</button>
    
 <p><%= render "devise/shared/links" %></p>
 

  </div>
<% end %>
</div>





