<!DOCTYPE html>
<html>

<head>
		<meta charset="UTF-8">


				<meta name="GENERATOR" content="Created by L. McCabe, D. Atanasova">

					<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  				<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    			<%= javascript_include_tag :defaults %>
    			<%= csrf_meta_tags %>
    			
    			
    			
    		
    
						<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	

			<title>Charma Jewellery</title>





	<!-- script for overlay -->
	<script>
				function toggleOverlay(){
	
				var overlay = document.getElementById('overlay');
				var specialBox = document.getElementById('specialBox');
						overlay.style.opacity = .8;
		
				if(overlay.style.display == "block"){
						overlay.style.display = "none";
						specialBox.style.display = "none";
					} 
				
				else {
							overlay.style.display = "block";
							specialBox.style.display = "block";
							}
			}

	</script>
	
	




</head>

<body>

																						<!-- Start Overlay -->
																						<div id="overlay"></div>
																						<!-- End Overlay -->
																						<!-- Start Special Centered Box -->
																						<div id="specialBox">
																						<%= render 'layouts/login' %>
  					 		
				  																 </div>
																						<!-- End Special Centered Box -->
																				

	<div class="header">
	
		<div class="contacts">
		<img id="phone" class="contactimg" src="/assets/phone3.jpg"  alt="an image" onmousedown="cartcontent()"/>
		<img class="contactimg" src="/assets/phone2.jpg"  alt="an image"/>
		
		<a href="/cart"><img id="cartimage" class="contactimg" src="/assets/trolley.jpg"  alt="an image" onmouseover="cartcontent()"/></a>
		<div id="cartshow" >
	 <%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency(current_order.subtotal, :unit => '€')} )", cart_path, class: "btn btn-link" %>
	  </div>
	  
	  <script>

  $("#cartimage").on("mouseenter", function() {
      $("#cartshow").slideDown("slow");
      }).on("mouseleave", function() {
      $("#cartshow").slideUp("slow");
  });

	</script>
	  
	  
	  
	  
	  
	
		</div>
		
		<div class="logo">
		<a href="/"><img class="logoimg" src="/assets/LOGO_JPG.jpg"  alt="an image"/></a>
<<<<<<< HEAD
		<% if admin_signed_in? %>
=======
			<% if admin_signed_in? %>
>>>>>>> orders
			<p>Administrator Control Active</p>
			<% end %>
		</div>
		
		<!-- Start of social media links and log-in section -->
		
		<div class="social">
		
		<!-- start of log-in -->
		<div class="login">
			
			
			
			<% if user_signed_in? %>
 
 		 	Welcome <strong><%= current_user.name %> </strong>.
  			
  			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
  			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  		<button onmousedown="toggleOverlay()"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></button>
		
		<% end %>
			
			<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
			<% end %>
			
		</div>
		
		<!-- End of log in information -->
		
		<!-- start of social media links -->
		<img class="socialimg" src="/assets/fb.jpg"  alt="an image"/>
		<img class="socialimg" src="/assets/pinterest.jpg"  alt="an image"/>
		<img class="socialimg" src="/assets/youtube.jpg"  alt="an image"/>
		
		<div class="searchdiv">
   <h2>Search</h2>
   <%= render :partial => 'products/search' %>
</div>
		</div>
		
		<!-- end of social media links -->


	
	
	</div>

<!-- this is the image rotater html -->



	<%= render 'layouts/rotate' %>
	
		
		
		<div class="wraper">
		
						<nav class="navwraper">
						<ul class="navwraper">
						<a href="/"><li class="nav">Home</li></a>
						<% if user_signed_in? %>
							<a href="/cart"><li class="nav">Cart</li></a>
							<% else %>
							<a href="/cart" onmousedown="toggleOverlay()"><li class="nav">Cart</li></a>
						<% end %>
							<a href="/products" ><li class="nav" onclick="myFunction()">Products</li></a>
							<div id="myDropdown" class="dropdown-content">
								<button onclick="myFunction()" class="dropbtn">Product</button>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
  <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
						<li class="nav">About</li>
						<a href="/contactus"><li class="nav">Contact</li></a>
						</ul>
						</nav>
							


	
	

	
	
	<%= yield %>
	
				
		
						
		

			
</div>


<div class="footer">
		
			
			
			<div class="footerdiv"><h2>Charma Jewelery</h2><p>Address: Here, There and Everywhere</p><p>Phone: 080 0000000</p></div>
			
			
			<div class="footerdiv"><h2>Website Development By</h2><p>Liam McCabe</p><p>Denitsa Atanasova</p></p><p>NCI 2015</p></div>
			
			<div class="footerdiv"><p>
				<h2>Useful Information</h2>
				<p>Terms & Conditions</p>
				<p>Return Policy</p>
				<p>Vacancies</p>
				
			 
			
					</p>
			</div>
			
			
				<div class="footerdiv">
				<h2>Admin Section</h2>
				<p><% if admin_signed_in? %>
 
 		 	  Welcome <strong><%= current_admin.name %></strong>.
  			
  			<%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
  			<%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
  			
  			<%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
		
					<% end %>	
					</P>
					<a href="/details"><p>Control Pannell</p></a>
				
				
				
				</div>


</div>
</body>

</html>

